<html>
  <head>
    <title><%=Context.Page.Title%></title>
    <link rel="stylesheet" href="/dx.css" type="text/css">
  </head>
  <body>
<ewf:Form id="<%=Form.Name%>" renderchildren="endRender">
<input type="hidden" name="isbook" value="1">
<input type="hidden" name="cid" value="<%=Form.CategoryId%>">
<%
  if(Form.CategoryCount > 0) {
%>
<table border="0" valign="middle" cellspacing="0" cellpadding="0" bgcolor=#FFC454 width=100%>
<tr>
  <td colspan="2"><img src="/dxforum/images/1x1.gif" width="20" height="6"></td>
</tr>
<tr>
  <td><img src="/dxforum/images/1x1.gif" width="20" height="1"></td>
  <td width="2000">
    <div style=" font-size: 8pt; color: black; font-family: Arial"><b>CATEGORY:</b> <%=Form.CategoryName%>&nbsp;&nbsp;/&nbsp;&nbsp;<b>CATEGORIES:</b></div>
  </td>
</tr>
<tr>
  <td colspan="2"><img src="/dxforum/images/1x1.gif" width="20" height="5"></td>
</tr>
<tr>
  <td colspan="2" bgcolor="white"><img src="/dxforum/images/1x1.gif" width="20" height="1"></td>
</tr>
</table>
  <ewf:DBTable id="CatDBTable">
  <br>
<%
  }
  if(Form.ArticleCount > 0) {
%>
<table border="0" valign="middle" cellspacing="0" cellpadding="0" bgcolor=#FFC454 width=100%>
<tr>
  <td colspan="2"><img src="/dxforum/images/1x1.gif" width="20" height="<% if (Form.CategoryCount > 0) {%>4<% } else { %>6<% } %>"></td>
</tr>
<tr>
  <td><img src="/dxforum/images/1x1.gif" width="20" height="1"></td>
  <td width="2000">
    <div style=" font-size: 8pt; color: black; font-family: Arial"><% if (Form.CategoryCount == 0) {%><b>CATEGORY:</b> <%=Form.CategoryName%>&nbsp;&nbsp;/&nbsp;&nbsp;<% } %><b>ARTICLES:</b> <%=Form.ArticleName%></div>
  </td>
</tr>
<tr>
  <td colspan="2"><img src="/dxforum/images/1x1.gif" width="20" height="<% if (Form.CategoryCount > 0) {%>3<% } else { %>5<% } %>"></td>
</tr>
<tr>
  <td colspan="2" bgcolor="white"><img src="/dxforum/images/1x1.gif" width="20" height="1"></td>
</tr>
</table>
    <ewf:DBTable id="ArtDBTable">
<%
  }
%>
  </ewf:Form>
<!--#include file="copy.inc"-->
  </body>
</html>






